.todo{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.todo-form{
    color: brown;
}
.form{
    font-size: 50px;
}
input{
    margin: 10px;
}
.todo-list > h3{
    color: red;
    margin-top: 30px;
}
.todo-list > ul{
    list-style: none;
    margin-top: 30px;
}

.update{
    color: blue;
    margin: 0 10px;
}

.delete{
    color: #ff0000;
    margin: 0 10px;
}

.remove{
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px, 30px;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}